BOT_TOKEN=your_bot_token
WEB_BASE_URL=https://service-name.onrender.com
PORT=8000
APP_PORT=8000
XAPIVERSE_URL=https://xapiverse.com/api/terabox-pro
VERIFY_WAIT_SECONDS=180
ACCESS_HOURS=4
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=teraplayer
ADMIN_IDS=123456789
